<!DOCTYPE html> {% load static %} {% load staticfiles %}
<html>

<head>
    <title> Hello World!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>

<body>
    {% if latest_question_list%}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Polls </p>
    {% endif %}
    <a href="{% url 'form' %}">
        <input type="button" value="Add question">
    </a>
    <a href="{% url 'addchoice' %}">
        <input type="button" value="Add choices">
    </a>
    <img src="{{ MEDIA_URL}}prof-02.jpg">
</body>

</html>